.car-details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  overflow: scroll;
  background-color: #fff;
}

.car-image img {
  width: 100%;
  background: none;
}

.car-details {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 0.5rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  padding-bottom: 1rem;
}

td {
  padding: 10px;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
}

tbody tr:nth-child(odd) {
  background-color: #bebbbb;
}

.discover-more span a {
  display: inline-block;
  color: orange;
  padding-left: 0.3rem;
  margin-bottom: -0.2rem;
  font-size: 13px;
}

.car-details-button button {
  background-color: rgb(150, 191, 1);
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 150px;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-left: 0.5rem;
}

.car-details-button button:hover {
  background-color: #01ee93;
  transform: scale(1.1);
}

.car-details-button button span {
  display: inline-block;
  margin-bottom: -0.2rem;
}

@media screen and (min-width: 768px) {
  .car-details-wrapper {
    flex-direction: row;
    gap: 1rem;
    padding-left: 255px;
    padding-right: 1rem;
  }

  table {
    width: 30vw;
  }

  .car-details {
    width: 40%;
    align-items: flex-end;
    margin: 0;
  }

  .car-details h2 {
    text-align: right;
  }

  .car-image img {
    height: 100vh;
  }

  .car-details-button button {
    margin: auto;
  }

  .multicolor {
    margin: auto;
  }
}
