
.form-container {
  margin: 0 auto;
  background: linear-gradient(rgba(150, 191, 1, 0.8), rgba(150, 191, 1, 0.7)), url(../assets/cartwo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  background-color: #41ff0250;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  padding: 10px 1.5rem;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.form-container form input,
select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #000;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  height: 40px;
}

button.reserve-button {
  background-color: rgb(119, 194, 0);
  margin: 0 auto;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 10px 3rem;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button.reserve-button:hover {
  background-color: #c7fbb650;
  color: #000;
  transform: scale(1.1);
}

.car-select {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #000;
  margin-right: 15px;
}

.reservation-title {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.reservation-title h1 {
  font-size: 1.3rem;
  font-weight: 600;
  padding-bottom: 10px;
}

/* Media Query for Larger Screens */
@media screen and (min-width: 768px) {
  .form-container {
    margin-left: 255px;
  }
}
