.form-container {
  margin: 0 auto;
  background: linear-gradient(rgba(150, 191, 1, 0.8), rgba(150, 191, 1, 0.7)), url(../assets/cartwo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 11.5px;
  padding: 10px 1.5rem;
  position: relative;
}

.form-container img {
  max-width: 100%;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.form-container form input,
select {
  padding: 10px;
  border-radius: 10px 0 10px 0;
  border: 1px solid #000;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  height: 40px;
}

.form-container form input:focus,
select:focus {
  border: 2px solid #f6ff00;
}

button.reserve-button {
  background-color: rgb(137, 219, 6);
  margin: 0 auto;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 15px 3rem;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button.reserve-button:hover {
  background-color: #c7fbb650;
  transform: scale(1.05);
}

.car-select {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #000;
  margin-right: 15px;
}

.reservation-title {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.reservation-title h1 {
  font-size: 1.3rem;
  font-weight: 600;
  padding-bottom: 10px;
}

.success-message {
  color: #fe01d8;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
}

/* Media Query for Larger Screens */
@media screen and (min-width: 768px) {
  .form-container {
    margin-left: 255px;
  }
}
